* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #202020;
  color: #fff;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  box-shadow: 1px 1px 16px rgba(20, 20, 20, .5);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 2rem 1rem; 
}

.container form {
  display: flex;
}

input {
  border: none;
  padding: .5rem;
  background-color: rgba(100, 100, 100, .2);
  color: rgba(250, 250, 250, .8);
}

.container input {
  border-radius: 1rem 0 0 1rem;
}

input:focus {
  outline: none;
}

form button {
  border: none;
  padding: 0 1rem;
  background-color: rgba(20, 20, 20, .8);
  color: unset;
  border-radius: 0 1rem 1rem 0;
}

#listTasks {
  width: 90%;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

#listTasks li {
  max-width: 300px; 
  padding: 1rem;
  background-color: rgba(20, 20, 20, .6);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  border-radius: 1rem;
}

li div {
  display: flex;
  gap: 1rem;
}

a {
  text-decoration: none;
  border: none;
  color: unset;
  width: 100%;
  text-align: center;
  padding: .5rem 2rem;
  border-radius: .6rem;
  cursor: pointer;
}

li div a:first-child {
  background-color: rgba(0, 100, 200, .6);
}

li div a:last-child {
  background-color: rgba(200, 0, 0, .6);
}

.modal {
  max-width: 100%;
  height: 100vh;
  background-color: rgba(20, 20, 20, .7);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

.modal form {
  min-width: 300px;
  background-color: #202020;
  padding: 2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  z-index: 20;
}

.modal form input {
  border-radius: .5rem;
}

.modal form div {
  display: flex;
  gap: 1rem;
}

.modal a:first-child {
  background-color: rgba(0, 130, 0, .7);
}

.modal a:last-child{
  background-color: rgba(200, 0, 0, .6);
}
